<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/home.css}" rel="stylesheet" />

    <title>my-practice</title>
</head>
<body>
    <!-- As a link -->
    <nav class="navbar navbar-light" style="background-color: #b3ecec;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <img th:src="@{~/images/icon.png}" intrinsicsize="256 x 256" width="40" height="40"/>
        </div>
    </nav>

    <h1>Hello world >:^)</h1>
    <div class="tab-content" id="nav-tabContent">
        <!-- Nav таблица внутреняя 1 колонка -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <h3>All users</h3>
            <div class="card">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">team Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" team : ${teamList}">
                        <td th:text="${team.teamName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <button class="btn btn-info btn-sm showEditModalBtn">Push</button>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/home.js}"></script>
</body>
</html>